<!-- <div class="container">
    <h2>Traffic Data Analytics</h2>
    <p class="lead">View detailed analytics on traffic flow.</p>
    <canvas id="trafficFlowChart"></canvas>
    
  </div>
   -->

   <div *ngIf="trafficData.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Location</th>
          <th>vehicleCount</th>
          <th>timestamp</th>
          <th>incidentType</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of trafficData">
          <td>{{ data.id }}</td>
          <td>{{ data.location }}</td>
          <td>{{ data.vehicleCount }}</td>
          <td>{{ data.timestamp}}</td>
          <td>{{ data.incidentType }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="trafficData.length == 0">
    No traffic data available.
  </div>
  