<div class="container my-4">
    <h1 class="text-center">Traffic Management Dashboard</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-3">
        <a [routerLink]="['/traffic-lights']" class="card text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Traffic Lights Status</h5>
            <p class="card-text">View the current status of traffic lights.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a [routerLink]="['/recent-incidents']" class="card text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Recent Incidents</h5>
            <p class="card-text">See recent traffic incidents reported.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a [routerLink]="['/data-analytics']" class="card text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Traffic Data Analytics</h5>
            <p class="card-text">View analytics on traffic flow.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  